<div class="card-container">
    <div class="card-body">
        <img src="{{ person.picture }}" onerror="this.src='assets/images/persons/unknown-person.jpg'">
        <div class="card-content">
            <div class="ref"> {{ 'REF.' | translate }} {{ person.ref }}</div>
            <div class="submitted-time">{{ 'SUBMITTED' | translate }}: {{ person.submitted_time }}</div>
            <div>{{ person.name }}</div>
            <div class="person-gender">{{ person.gender }}, {{ person.age }}</div>
            <div class="person-flight">
                <div class="flex-column">
                    <div class="subtitle">{{ 'ISSUER' | translate }}</div>
                    <div class="nationality">{{ person.nationality }}</div>
                </div>
                <div class="flex-column">
                    <div class="subtitle">{{ 'FLIGHT_NUMBER' | translate }} </div>
                    <div class="flight-number">
                        <img src="{{ person.flight_avatar }}">
                        <div class="flight-number">{{ person.flight_number }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="footer-type">
            <div class="subtitle">{{ 'TYPE' | translate }}</div>
            <div class="flight-type">{{ person.type }}</div>
        </div>
        <div class="footer-arrival-date">
            <div class="subtitle">{{ 'ARRIVAL_DATE' | translate }}</div>
            <div class="person-arrival-date">{{ person.arrival_date }}</div>
        </div>
        <div class="footer-status">
            <div class="card-status">
                {{ person.status }}
            </div>
        </div>

    </div>
</div>